.error {
  color: red;
  background: rgb(255, 216, 216);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: rgb(233, 255, 229);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

body {
  width: 600px;
  margin: 20px auto;
}